In [5]:
import pandas as pd
import seaborn as sns

In [6]:
#read data from csv file
df=pd.read_csv("car data.csv")
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [7]:
df.shape

(201, 9)

In [8]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       201 non-null    object
 1   Year           201 non-null    int64
 2   Selling_Price  201 non-null    float64
 3   Present_Price  201 non-null    float64
 4   Kms_Driven     201 non-null    int64
 5   Fuel_Type      201 non-null    object
 6   Seller_Type    201 non-null    object
 7   Transmission   201 non-null    object
 8   Owner          201 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 14.3+ KB

In [10]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   201.000000     201.000000     201.000000     201.000000  201.000000
mean   2013.592040       6.660846      10.930498   41238.686567    0.034826
std       2.879711       5.155760       8.886323   27448.505137    0.252549
min    2003.000000       0.350000       0.880000    2071.000000    0.000000
25%    2012.000000       3.600000       6.400000   21780.000000    0.000000
50%    2014.000000       5.250000       8.500000   40000.000000    0.000000
75%    2016.000000       7.500000      13.460000   53460.000000    0.000000
max    2018.000000      35.000000      92.600000  197176.000000    3.000000