In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [8]:
df=pd.read_csv("cleaned_car_data.csv")
df.head()

,Kms_Driven,new_Selling_Price,new_Original_Price,car_age,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,27000.0,335000.0,559000.0,10,0,0,1,0,1
1,43000.0,475000.0,954000.0,11,0,1,0,0,1
2,6900.0,725000.0,985000.0,7,0,0,1,0,1
3,5200.0,285000.0,415000.0,13,0,0,1,0,1
4,42450.0,460000.0,687000.0,10,0,1,0,0,1

In [9]:
X=df.drop('new_Selling_Price',axis=1)
X

,Kms_Driven,new_Original_Price,car_age,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Transmission_Automatic,Transmission_Manual
0,27000.0,559000.0,10,0,0,1,0,1
1,43000.0,954000.0,11,0,1,0,0,1
2,6900.0,985000.0,7,0,0,1,0,1
3,5200.0,415000.0,13,0,0,1,0,1
4,42450.0,687000.0,10,0,1,0,0,1
...,...,...,...,...,...,...,...,...
195,33988.0,1160000.0,8,0,1,0,0,1
196,60000.0,590000.0,9,0,0,1,0,1
197,87934.0,1100000.0,15,0,0,1,0,1
198,9000.0,1250000.0,7,0,1,0,0,1
199,5464.0,590000.0,8,0,0,1,0,1

In [10]:
y=df['new_Selling_Price']

In [11]:
y

0       335000.0
1       475000.0
2       725000.0
3       285000.0
4       460000.0
         ...
195     950000.0
196     400000.0
197     335000.0
198    1150000.0
199     530000.0
Name: new_Selling_Price, Length: 200, dtype: float64

In [13]:
#slpitting the data into train and test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [15]:
X_train.shape

(160, 8)

In [16]:
X_test.shape

(40, 8)

In [17]:
y_train

120     450000.0
144     520000.0
153     525000.0
155    1025000.0
143     595000.0
         ...
34      550000.0
197     335000.0
96     2075000.0
159     915000.0
33      600000.0
Name: new_Selling_Price, Length: 160, dtype: float64

In [18]:
y_test

132     390000.0
188    1011000.0
11      685000.0
21      490000.0
133     550000.0
114     450000.0
165     365000.0
18      325000.0
177     600000.0
80     1473000.0
104     525000.0
44      125000.0
136    1125000.0
195     950000.0
64     3300000.0
166     835000.0
84      349000.0
58      410000.0
171     750000.0
175     865000.0
149    1290000.0
142     625000.0
83     1250000.0
172     225000.0
61      450000.0
174    1090000.0
29      745000.0
74      490000.0
76      550000.0
51     2300000.0
14      225000.0
150     500000.0
65      475000.0
151     540000.0
141     440000.0
54      275000.0
94      400000.0
57      475000.0
90      380000.0
152     720000.0
Name: new_Selling_Price, dtype: float64